{% assign challenges = include.challenges %}
{% assign warm = challenges | where: "level", "warm" %}
{% assign easy = challenges | where: "level", "easy" %}
{% assign medium = challenges | where: "level", "medium" %}
{% assign hard = challenges | where: "level", "hard" %}
{% assign extreme = challenges | where: "level", "extreme" %}

<table>
  <tr align="center">
    <th>{% include i18n.html lang=lang value="challenge" default="Challenge" %}</th>
    <th>{% include i18n.html lang=lang value="solution" default="Solution" %}</th>
  </tr>
  {% include draw_challenges_level.html challenges = warm level = "warm" %}
  {% include draw_challenges_level.html challenges = easy level = "easy" %}
  {% include draw_challenges_level.html challenges = medium level = "medium" %}
  {% include draw_challenges_level.html challenges = hard level = "hard" %}
  {% include draw_challenges_level.html challenges = extreme level = "extreme" %}
</table>
