<header class="site-header">
  <div style="background-color: rgb(37, 89, 181); text-align: center; padding: 1vw;">
    <a href="https://stand-with-ukraine.pp.ua" style="color: white; font-size: large;">
      Stand With Ukraine
    </a>
  </div>
  <div class="wrapper" style="display: flex; justify-content: center;">
    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
